<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhibang.mapper.usMapper.UserMapper">

    <!--yjh-->
    <insert id="addUser">
        INSERT INTO `tap_water`.`us_user`
          (`UserNo`, `UserName`, `CreateDate`, `Address`, `Phone`, `UserType`, `MeterID`)
        VALUES
          (#{userNo}, #{userName}, NOW(), #{address}, #{phone}, #{userType}, #{meterId.id}) ;
    </insert>
    <!--yjh-->
    <select id="selectUserNo" parameterType="Integer" resultType="String">
        SELECT MAX(RIGHT(UserNo, 8)) FROM us_user WHERE RIGHT(LEFT(UserNo, 2),1) = #{orderType};
    </select>

    <select id="selectUsUser" parameterType="String" resultType="usUser">
        select * from us_user where UserNo = #{userNo};
    </select>
    <!--yjh:可扩展-->
    <update id="updateUsUserUserNo">
        UPDATE
          `tap_water`.`us_user`
        SET
            `UserNo` = #{userNo}
        <if test="userName != null || address != null || phone != null || userType != null">
            ,`UserName` = #{userName}
            ,`Address` = #{address}
            ,`Phone` = #{phone}
            ,`UserType` = #{userType}
        </if>
        <if test="userMoney != null">
            ,`UserMoney` = #{userMoney}
        </if>
        <if test="formula != null">
            ,`Formula` = #{formula}
        </if>
        <if test="contractNum != null">
            ,`ContractNum` = #{contractNum}
            ,`ContractDate` = NOW()
        </if>

        <if test="syArea != null">
            ,`AreaID` = #{syArea.id}
        </if>
        <if test="meterId != null">
            ,`MeterID` = #{meterId.id}
        </if>

        <if test="docNum != null">
            ,`DocNum` = #{docNum}
        </if>
        WHERE `UserNo` = #{userNo} ;
    </update>

</mapper>