<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
">

    <!--1. 注解驱动 mvc-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--2. 扫描包中的注解 context-->
    <context:component-scan base-package="com.zhibang"></context:component-scan>

    <!--&lt;!&ndash;3. 配置静态资源访问 &ndash;&gt;-->
    <!--&lt;!&ndash;静态资源的访问都通过servlet的默认处理器进行处理&ndash;&gt;-->
    <!--<mvc:default-servlet-handler></mvc:default-servlet-handler>-->
    <!--<mvc:resources mapping="/css/**" location="/css/"></mvc:resources>-->
    <!--<mvc:resources mapping="/js/**" location="/js/"></mvc:resources>-->
    <!--<mvc:resources mapping="/images/**" location="/images/"></mvc:resources>-->

    <!--4. 配置前后缀-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--5. 加载外部配置文件properties-->
    <context:property-placeholder location=""></context:property-placeholder>

    <!--6. 配置druid数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--配置数据源四要素-->
        <property name="driverClassName" value="${db.driverClass}" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.pwd}" />

        <!--配置druid连接池参数-->
        <!-- 最大并发连接数 -->
        <property name="maxActive" value="${pool.maxActive}" />
        <!-- 初始化连接数量 -->
        <property name="initialSize" value="${pool.initialSize}" />
    </bean>


    <!--7. 配置sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--引入数据源-->
        <property name="dataSource" ref="dataSource"></property>
        <!--加载XxxxxMapper.xml映射文件-->
        <property name="mapperLocations" value="classpath*:mappers/*.xml"></property>
        <!--为实体包下的类设置别名-->
        <property name="typeAliasesPackage" value="cn.zhibang.ems.model"></property>
        <!--加载mybatis-config.xml-->
        <!--<property name="configLocation" value="classpath*:mybatis-config.xml"></property>-->
    </bean>

    <!--8. 向dao层接口注入sqlSessionFactory-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定SqlSessionFactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <!--指定自动装配的路径：包下面所有的类（接口）自动装配sqlSessionFactory-->
        <property name="basePackage" value=""></property>
    </bean>

    <!--9. 配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--配置注解式事务@Transactional  或  非注解式事务<aop:-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>


</beans>