<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhibang.mapper.beMapper.CountMapper">

    <select id="selectIdBeFlow" resultType="beFlow">
        SELECT * FROM `be_flow`;
    </select>

    <select id="countOrderNo" resultType="String">
        SELECT COUNT(*) FROM `be_order` WHERE ordertype=#{orderType} AND stepid=#{stepId};
    </select>

</mapper>