<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhibang.mapper.beMapper.OrderUserMapper">

    <insert id="addOrderUser">
        INSERT INTO `tap_water`.`be_orderuser` (
          `OrderNo`,`UserName`,`Phone`,`Address`,`MeterTypeID`,`MeterName`,`MaxValue`,`StartValue`,`UserNo`
        )
        VALUES
      <foreach collection="list" item="ou" separator="," >
        (#{ou.orderNo.orderNo},#{ou.userName},#{ou.phone},#{ou.address},#{ou.meterTypeId},'0',#{ou.maxValue},'0',#{ou.userNo})
      </foreach>
        ;
    </insert>

</mapper>